body {
    background-color: rgb(239, 235, 235);
    color: darkred;
}
.titulo{
    text-align: center;
    margin-bottom: 40px;
}
#tarjetaProducto{
    margin-bottom: 30px;
}
#cajacarrito{
    width: 80%;
    height: 400px;
    margin: 10px;
    background-color: aqua;
}
footer{
    height: 100px;
    margin-top: 25px;
    background-color: darkred;
    color: black;
    text-align: right;
}
